
    <h1>Page Not Found</h1>
    <div class="intro-position">
        <span>Sorry, but the page you were trying to view does not exist.</span>
        <br><br>
    </div>
    <a class="btn btn-lg btn-success" ui-sref="black-jack">Go to Game</a>  
